.Footer {
    background-color: #E4DCD1;
    position: sticky;
    padding: 10px;
}

.NavLink {
    padding: 10px;
}

.Active i {
    color: #8284f8;
}

.DropdownLink {
    padding: 2px;
    text-decoration: none;
}

