
.GalleryContentDisplay :hover {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    #00000000 100%
  );
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.GalleryContentDisplay > * {
  color: transparent;
}

.GalleryContentDisplay > img {
  border-radius: 3px;
}

.GalleryContentDisplay > * :hover {
    background-image: none;
}

.LikeButton {
  position: relative;
  color:darkred !important;
  font-size: 17px;
  text-align: center;
  background-image: none !important;
}

.LikeButton :hover{
  color:red !important;
}

.HeartFill {
  color: red;
}

.HeartFill:hover {
  color: purple;
}

.HeartEmpty:hover {
  color: purple;
}