.NoSpacing {
  margin-top: -10vw;
}

.TitlePadding {
  padding: 30px;
}

.DancingScript {
  font-family: "Dancing Script", sans-serif;
  margin: auto;
  text-align: center;
}

.DancingScript h1 {
  font-size: 40px;
}

.DancingScript p {
  font-size: 20px;
}

.JumboBackground {
  background-color: transparent;
}