.NavBar {
    background-color: #E4DCD1;
    filter: invert(0%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 110px;
}

.NavLink {
    padding: 10px;
}

.Active i {
    color: #8284f8;
}

.DropdownLink {
    padding: 2px;
    text-decoration: none;
}

